<h1>Make a new team</h1>
<%= form_for(@team) do |f| %>
	<%= f.label :name %><%= f.text_field :name, placeholder: 'Team name' %>
	<%= f.hidden_field :user_id, value: session[:id] %></br>
	<%= f.submit 'GO!', class: 'btn btn-primary' %>
<% end %> 
