<div class='row-fluid'>
	<div class='span6'>
		<h1>My Tasks</a></h1>
		<%= link_to 'add a task', new_task_url, class: 'btn btn-success'  %></br></br>
		<div>
			<table class='table table-striped table-hover well'>
				<th></th><th>Task Name</th><th>Description</th>
				<% @tasks.each do |task| %>
					<%= render 'task_partial', task: task %>
				<% end %>
			</table>
		</div>

	</div>

	<div class='span3'>
		<h1>My Teams</a></h1>
		<%= link_to 'make a new team', new_team_url, class: 'btn btn-success'  %></br></br>
		<div>
			<table class='table table-striped table-hover well'>
				<th>Team Name</th>
				<tbody>
				<% @teams.each do |team| %>
					<tr>
						<td><%= team.name %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>

	</div>
	<div class='span3'>
		<h1>My Projects</a></h1>
		<%= link_to 'start a new project', new_project_url, class: 'btn btn-success'  %></br></br>
		<div>
			<table class='table table-striped table-hover well'>
				<th></th><th>Project Name</th>
				<% @projects.each do |project| %>
					<%= render 'project_partial', project: project %>
				<% end %>
			</table>
		</div>

	</div>
</div>

