<!DOCTYPE html>
<html>
<head>
  <title>TaskApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid"></br>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Title</a>
	    <ul class="nav">
	      <li class="active"><%= link_to "Home", user_url(User.find(session[:id])) %></li>
	      <li><a href="#">Link</a></li>
	      <% if session[:id].present? %>
	      <li><%= link_to "Logout", '/sessions', method: 'delete' %></li>
	      <% else %>
	      <li><%= link_to "Login", '/sessions', method: 'post' %></li>
	      <% end %>
	    </ul>
	  </div>
	</div>
<%= yield %>
</div>
</body>
</html>
